@import "../../../styles/config";

.header {
  padding-block: 35px;
  border-bottom: 1px solid $border-color;
  transition: all 0.2s ease-in-out;
  &.shrink {
    padding-block: 10px;
  }
  @include devices(tablet) {
    padding-inline: 15px 10px;
    padding-block: 10px;
  }
  :global(.navbar-brand) {
    img {
      @include devices(mobile) {
        width: 200px;
        height: auto;
      }
      @include devices(smallMobile) {
        width: 170px;
      }
    }
  }
}
.navMenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  gap: 15px;
  border-radius: 12px;
  background: $white;
  margin-inline-start: auto;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.05);
  @include devices(tablet) {
    flex-direction: column;
    box-shadow: none;
    align-items: flex-start;
  }
}
.currentSelect {
  width: auto !important;
  border: 0 !important;
  box-shadow: none !important;
  @include devices(tablet) {
    width: 100% !important;
    padding-left: 0 !important;
  }
}
.signinBtn, .signupBtn{
  @include devices(tablet) {
    width: 100% !important;
  }
}
.navOffcanvas {
  border: 0;
  :global(.offcanvas-header) {
    border-bottom: 1px solid $border-color;
  }
}
