@import "./mixin";

$primary: #1a73e8;
$border-color: #e0e0e0;
$body-bg-color: #ffffff;
$white: #fff;
$black: #000;
$gray: #e6e7e8;
$light-gray: #f9fafb;

$font-family: "Plus Jakarta Sans";
$font-color: #2b2b2b;
$sub-font-color: #828282;
$border-radius: 6px;

$f_normal: 400;
$f_medium: 500;
$f_semibold: 600;
$f_bold: bold;
